* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightseagreen;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding: 2rem;
    font-size: 3rem;
   
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 4rem;
}

.catboard {
    display: grid; 
    justify-content: center;
    align-items: center;
    font-size: 3vw; 
}



.category {
    display: grid;
    grid-template-columns: repeat(6,14vw); 
    border: 1px solid black; 
    text-align: center;
    list-style-type: none;
    padding: 0vw;
    background-color: lightgray;
} 


.row1 {
    display: grid;
    grid-template-columns: repeat(6,14vw);
    border: 1px solid black;
    text-align: center;
    padding: 0vw;
    list-style-type: none;
    
}

.row2 {
    display: grid;
    grid-template-columns: repeat(6,14vw);
    border: 1px solid black;
    text-align: center;
    padding: 0vw;
    list-style-type: none;
}

.row3 {
    display: grid;
    grid-template-columns: repeat(6,14vw);
    border: 1px solid black;
    text-align: center;
    padding: 0vw;
    list-style-type: none;
}

.row4 {
    display: grid;
    grid-template-columns: repeat(6,14vw);
    border: 1px solid black;
    text-align: center;
    padding: 0vw;
    list-style-type: none;
}

.last {
    display: grid;
    grid-template-columns: repeat(6,14vw);
    border: 1px solid black;
    text-align: center;
    padding: 0vw;
    list-style-type: none;
}

#input {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border: 2px solid black;
    background-color: whitesmoke;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    justify-content: space-evenly;
}

#guess {
    margin: 1rem;
    
}
#pass {
    margin: 1rem;
}

.players {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 2rem;
    
}

#player1 {
    background-color: lightgray;
    padding: 1vw;
    
}

#player2 {
    background-color: lightgray;
    padding: 1vw;
}

#finalround {
    display: flex;
    position: absolute;
    margin-top: 5vh;
    right: 3vw;
    background-color: aliceblue;
    padding: 1vw;
    text-decoration: none;
}

.footer {
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    margin-top: 15vw;
    margin-right: 20px;
    margin-left: 20px;
    padding: 1vw;
    background-color: antiquewhite;
    position: relative;
    text-align: center;
    top: 15vh;
    bottom: 0;
}

.footer a{
    text-decoration: none;
    color: darkblue;
}

